.aboutus {
  background-color: red;
  grid-row: 4 / 5;
  grid-column: center-start / center-end; }

.agency {
  display: grid;
  align-content: center;
  grid-row: 1 / 2;
  grid-column: col-start 4 / full-end; }
  .agency img {
    justify-self: center;
    width: 70%; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif;
  color: #274472;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 60vh repeat(4, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(7, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.footer {
  background-color: midnightblue;
  grid-row: 5 / -1;
  grid-column: full-start / full-end; }

.gallery {
  background-color: olivedrab;
  grid-row: 3 / 4;
  grid-column: center-start / center-end; }

.head {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #C3E0E5;
  grid-row: 1 / 2;
  grid-column: full-start / col-end 3; }
  .head .heading-primary--main {
    font-size: 10rem;
    font-weight: 500;
    line-height: 9rem; }
  .head .heading-primary--sub {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 800;
    padding-top: 1.5rem; }
    .head .heading-primary--sub i {
      border-radius: 100%;
      font-size: 7rem;
      padding-right: 2rem; }

.services {
  display: grid;
  background-color: #274472;
  color: #ffffff;
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  grid-template-rows: minmax(0, 1fr) repeat(2, min-content) minmax(0, 1fr);
  grid-template-columns: [full-start] minmax(1rem, 1fr) [center-start] repeat(3, [col-start] max-content [col-end]) [center-end] minmax(1rem, 1fr) [full-end];
  grid-gap: 10rem; }
  .services__items {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    grid-gap: 2rem; }
    .services__items--icon {
      font-size: 3rem;
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    .services__items--title {
      font-size: 2rem;
      font-weight: 700;
      grid-column: 2 / -1;
      grid-row: 1 / 2; }
    .services__items--text {
      width: 20rem;
      font-size: 1.8rem;
      grid-column: 2 / -1;
      grid-row: 2 / -1; }
    .services__items--1 {
      grid-row: 2 / 3;
      grid-column: col-start 1 / col-end 1; }
    .services__items--2 {
      grid-row: 2 / 3;
      grid-column: col-start 2 / col-end 2; }
    .services__items--3 {
      grid-row: 2 / 3;
      grid-column: col-start 3 / col-end 3; }
    .services__items--4 {
      grid-row: 3 / 4;
      grid-column: col-start 1 / col-end 1; }
    .services__items--5 {
      grid-row: 3 / 4;
      grid-column: col-start 2 / col-end 2; }
    .services__items--6 {
      grid-row: 3 / 4;
      grid-column: col-start 3 / col-end 3; }

.sidebar {
  display: flex;
  justify-content: center;
  background-color: #41729F;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  position: relative; }

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #C3E0E5;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem; }
  .nav-btn::before, .nav-btn::after {
    background-color: #C3E0E5;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block; }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  .nav-btn::after {
    transform: translateY(1.3rem); }
