.agency {
    display:       grid;
    align-content: center;
    grid-row:      1 / 2;
    grid-column:   col-start 4 / full-end;

    img {
        justify-self: center;
        width:        70%;
    }

    @media only screen and (max-width: 62.5em /*$bp-large*/) {
        grid-row:    2 / 3;
        grid-column: col-start 5 / full-end;

        img {
            width: 100%;
        }
    }
}