.head {
    display:          grid;
    justify-content:  center;
    align-items:      center;
    background-color: $color-secondary;
    grid-row:         1 / 2;
    grid-column:      full-start / col-end 3;

    .heading-primary {
        &--main {
            font-size:   10rem;
            font-weight: 500;
            line-height: 9rem;
        }
    
        &--sub {
            display:     flex;
            align-items: center;
            font-size:   1.6rem;
            font-weight: 800;
            padding-top: 1.5rem;
    
            i {
                border-radius: 100%;
                font-size:     7rem;
                padding-right: 2rem;
            }
        }

        @media only screen and (max-width: $bp-small) {
            &--main {
                font-size:   6rem;
                font-weight: 600;
                line-height: 5rem;
            }
        
            &--sub {
                font-size:   1.4rem;
                font-weight: 800;
        
                i {
                    font-size:     5rem;
                    padding-right: 0.5rem;
                }
            }
        }
    }

    @media only screen and (max-width: $bp-large) {
        grid-row:    2 / 3;
        grid-column: full-start / col-end 4;
    }

}